SERVER_PORT=8080
DB_HOST=postgres
DB_PORT=5432
DB_NAME=boero_db
DB_USER=boero
DB_PASSWORD=boero
JWT_SECRET=0123456789abcdef0123456789abcdef
REFRESH_REPLAY_ENCRYPTION_KEY=MDEyMzQ1Njc4OTAxMjM0NTY3ODkwMTIzNDU2Nzg5MDE=
REFRESH_REPLAY_TTL=5s
REDIS_HOST=redis
REDIS_PORT=6379
